<a href="https://colab.research.google.com/github/iashishpatel/Machine-Learning-Classification/blob/main/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing Libraries**

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# **Creatiing new dataset**

In [4]:
df = pd.read_csv('spam.csv')
df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

# **Finding missing values**

In [5]:
#shape function will give you the numbers of row and numbers of columns
df.shape

(5572, 2)

In [6]:
#descripe fumction will give you description of the dataset
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

In [7]:
#here the function "isnull" will find the null values and if function will find missing values it will give you "1" as a output!
#here sum function will sum all values given by "isnull" function!
df.isnull().sum()

Category    0
Message     0
dtype: int64

In [8]:
#so above you can see that there is no missing values

#**Splitting dataset into training and test set**

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(df.Message,df.Category,test_size = 0.2,random_state=0)

# **splitting words from string using**

In [10]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
x_train_count = cv.fit_transform(x_train.values)

In [11]:
x_train_count.toarray()

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

# **Train model using naive bayes**

In [12]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(x_train_count,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [13]:
emails = ["Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"]
emails_count = cv.transform(emails)
classifier.predict(emails_count)

array(['spam'], dtype='<U4')

In [14]:
emails = [input("Enter Email Text = ")]
emails_count = cv.transform(emails)
classifier.predict(emails_count)

Enter Email Text = Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's

array(['spam'], dtype='<U4')